header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}

header #title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav .item {
  margin: 0 10px;
  cursor: pointer;
}