body {
  margin: 0;
  padding: 0;
}

header {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}

header #title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

main {
  display: flex;
  height: 100%;
}

main .left {
  width: 300px;
  height: 100%;
  min-height: calc(100vh - 58px);
  border-right: 1px solid #ececec;
  box-sizing: border-box;
  overflow: hidden;
}

main .right {
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px 30px;
  min-height: calc(100vh - 58px);
  border-left: 1px solid #ececec;
  box-sizing: border-box;
}

main .menu_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}