<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <link rel="stylesheet" href="./static/css/element-plus.css">
  <link rel="stylesheet" href="./static/css/index.css">
  <script src="./static/js/vue.js"></script>
  <script src="./static/js/element-plus.js"></script>
  <script src="./static/js/data.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <p id="title">TITLE</p>
      <el-menu
        :default-active="activeIndex"
        :ellipsis="false"
        mode="horizontal"
        @select="handleSelectNav"
      >
        <el-menu-item index="1">首页</el-menu-item>
        <el-sub-menu index="2">
          <template #title>分类</template>
          <el-menu-item index="2-1">前端</el-menu-item>
          <el-menu-item index="2-2">后端</el-menu-item>
          <el-menu-item index="2-3">算法</el-menu-item>
        </el-sub-menu>
      </el-menu>
    </header>
  
    <main>
      <el-menu class="left" @select="handleSelectMenu">
        <blog-menu :data="menus" />
      </el-menu>
      <div class="right">
        <pre>{{ con }}</pre>
      </div>
    </main>
  </div>
</body>
<script>
  const App = {
    data() {
      return {
        activeIndex: '1',
        con: '',
        menus
      };
    },
    methods: {
      // 点击导航
      handleSelectNav(key, keyPath) {},
      // 点击菜单
      handleSelectMenu(key, keyPath) {
        console.log(key, keyPath)
        console.log('menus:', menus)
        this.con = keyPath
      }
    }
  };

  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.component('blog-menu', {
    name: 'blogMenu',
    props: ['data'],
    template: `<template v-for="item in data" :key="item.name">
        <el-menu-item
          v-if="item.children.length === 0 && item.name !== 'README.md'"
          :index="item.name"
        >
          {{ item.name }}
        </el-menu-item>
        <el-sub-menu
          v-if="item.children.length > 0 && item.name !== 'images' && item.name !== 'img'"
          :index="item.name"
        >
          <template #title>{{ item.name }}</template>
          <blog-menu :data="item.children" />
        </el-sub-menu>
      </template> `
  })
  app.mount("#app");
</script>
</html>