<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人博客</title>
  <link rel="stylesheet" href="./static/css/element-plus.css">
  <link rel="stylesheet" href="./static/css/index.css">
  <script src="./static/js/vue.js"></script>
  <script src="./static/js/marked.js"></script>
  <script src="./static/js/element-plus.js"></script>
  <script src="./static/js/data.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <p id="title">{{ title || '个人博客' }}</p>
      <el-menu
        :default-active="activeIndex"
        :ellipsis="false"
        mode="horizontal"
      >
        <el-menu-item index="1">首页</el-menu-item>
        <el-sub-menu index="2">
          <template #title>分类</template>
          <el-menu-item index="2-1">前端</el-menu-item>
          <el-menu-item index="2-2">后端</el-menu-item>
          <el-menu-item index="2-3">算法</el-menu-item>
        </el-sub-menu>
      </el-menu>
    </header>
  
    <main>
      <div class="left">
        <el-menu @select="handleSelectMenu">
          <blog-menu :data="menus" />
        </el-menu>
      </div>

      <div class="right" id="content"></div>
    </main>
  </div>
</body>
<script>
  const App = {
    name: 'app',
    setup(props, context) {
      const activeIndex = ref('1') // 导航默认值

      // 渲染标题
      if (title) document.title = title

      // 点击导航
      const handleSelectNav = (key, keyPath) => {}

      // 递归菜单
      const handleMenuData = (menus, keyPath, deep = 0) => {
        menus.length > 0 && menus.forEach(item => {
          if (item.name === keyPath[deep]) {
            if (deep === keyPath.length - 1) {
              document.getElementById('content').innerHTML = marked.parse(item.content)
              return false
            }
            if (item.children.length) {
              return handleMenuData(item.children, keyPath, ++deep)
            }
          }
        })
      }

      // 点击菜单
      const handleSelectMenu = (key, keyPath) => {
        handleMenuData(menus, keyPath)
      }

      return {
        activeIndex,
        menus,
        title,
        handleSelectNav,
        handleSelectMenu
      }
    }
  };

  // 注入Vue和ElementPlus
  const app = Vue.createApp(App);
  app.use(ElementPlus);

  // 菜单组件
  app.component('blog-menu', {
    name: 'blogMenu',
    props: ['data'],
    template: `<template v-for="item in data" :key="item.name">
        <el-menu-item
          v-if="item.children.length === 0 && item.name !== 'README'"
          :index="item.name"
          :title="item.name"
          class="menu_title"
        >
          {{ item.name }}
        </el-menu-item>
        <el-sub-menu
          v-if="item.children.length > 0 && item.name !== 'images' && item.name !== 'img'"
          :index="item.name"
        >
          <template #title>{{ item.name }}</template>
          <blog-menu :data="item.children" />
        </el-sub-menu>
      </template> `
  })

  // 挂载至app
  app.mount("#app");
</script>
</html>