<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人博客</title>
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="./static/css/element-plus.css">
  <link rel="stylesheet" href="./static/css/github-markdown.css">
  <link rel="stylesheet" href="./static/css/github-markdown-light.css">
  <link rel="stylesheet" href="./static/css/index.css">
  <script src="./static/js/vue.js"></script>
  <script src="./static/js/element-plus.js"></script>
  <script src="./static/js/default.js"></script>
  <script src="./static/js/data.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <div class="sidebar-button" @click="handleSidebar">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512">
          <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path>
        </svg>
      </div>
      <p class="title" @click="handleTitle">{{ title || '个人博客' }}</p>
      <div class="nav">
        <el-menu v-if="classify.length > 0" :ellipsis="false" default-active="1" mode="horizontal">
          <el-menu-item index="1" @click="handleTitle">首页</el-menu-item>
          <template v-if="classify.length <= 2">
            <el-menu-item
              v-for="(item, index) in classify"
              :key="index"
              :index="index"
              @click="handleTitle"
            >
              {{ item }}
            </el-menu-item>
          </template>
          <el-sub-menu v-if="classify.length > 2" index="2">
            <template #title>分类</template>
            <el-menu-item
              v-for="(item, index) in classify"
              :index="`2-${index}`"
              :key="index"
            >
              {{ item }}
            </el-menu-item>
          </el-sub-menu>
        </el-menu>
      </div>
    </header>
  
    <main>
      <el-menu
        class="menu"
        :class="{ 'sidebar-open': isActive }"
        @select="handleSelectMenu"
      >
        <blog-menu :data="menus" />
      </el-menu>

      <div
        class="content markdown-body"
        v-loading="isLoading"
        v-html="content"
      >
      </div>
    </main>

    <div
      v-if="isActive"
      class="cover"
      @click="handleHiddenMenu"
    ></div>
  </div>
</body>
<script>
  const App = {
    name: 'app',
    setup(props, context) {
      const { ref } = Vue
      const activeIndex = ref('1') // 导航默认值
      const isLoading = ref(false) // loading
      const isActive = ref(false) // 触发菜单显示隐藏
      const content = ref(defaultData) // 内容

      // 渲染标题
      if (title) document.title = title

      // 点击导航
      const handleSelectNav = (key, keyPath) => {}

      // 递归菜单
      const handleMenuData = (menus, keyPath, deep = 0) => {
        menus.length > 0 && menus.forEach(item => {
          if (item.name === keyPath[deep]) {
            if (deep === keyPath.length - 1) {
              content.value = item.content
              return false
            }
            if (item.children.length) {
              return handleMenuData(item.children, keyPath, ++deep)
            }
          }
        })
      }

      // 点击菜单
      const handleSelectMenu = (key, keyPath) => {
        isLoading.value = true
        handleMenuData(menus, keyPath)
        isLoading.value = false
        if (isActive.value) isActive.value = false
      }

      // 点击侧边栏按钮
      const handleSidebar = () => {
        isActive.value = !isActive.value
      }

      // 隐藏菜单
      const handleHiddenMenu = () => {
        isActive.value = false
      }

      // 点击标题
      const handleTitle = () => {
        content.value = defaultData
      }

      return {
        activeIndex,
        isLoading,
        isActive,
        content,
        menus,
        title,
        classify,
        handleTitle,
        handleSidebar,
        handleHiddenMenu,
        handleSelectNav,
        handleSelectMenu
      }
    }
  };

  // 注入Vue和ElementPlus
  const app = Vue.createApp(App);
  app.use(ElementPlus);

  // 菜单组件
  app.component('blog-menu', {
    name: 'blogMenu',
    props: ['data'],
    setup(props, context) {
      // 过滤图片文件夹
      const filters = ['images', 'images', 'imgs', 'img']
      function handleFilterImg(name) {
        return filters.indexOf(name) === -1
      }
      return { handleFilterImg }
    },
    template: `
      <template v-for="item in data" :key="item.name">
        <el-menu-item
          v-if="item.children.length === 0 && item.name !== 'README'"
          :index="item.name"
          :title="item.name"
          class="menu_title"
        >
          <span class="span-ellipsis">{{ item.name }}</span>
        </el-menu-item>
        <el-sub-menu
          v-if="item.children.length > 0 && handleFilterImg(item.name)"
          :index="item.name"
        >
          <template #title>
            <span class="span-ellipsis">{{ item.name }}</span>
          </template>
          <blog-menu :data="item.children" />
        </el-sub-menu>
      </template> 
    `
  })

  // 挂载至app
  app.mount("#app");
</script>
</html>